Django
djangorestframework
django-model-utils
django-environ
djangorestframework-simplejwt

psycopg2-binary

pytest
pytest-django
pytest-cov
black
model-bakery
isort

gunicorn

celery
redis
yfinance
pandas_ta
setuptools
langchain
langgraph
chromadb
sentence-transformers
ollama
langchain_community
langchain-ollama
duckduckgo-search
goose3
feedparser
alpha-vantage
pandas_datareader
langchain_openai
tenacity
pyportfolioopt
yahooquery
ddgs