Django
djangorestframework
django-model-utils
django-environ
djangorestframework-simplejwt

psycopg2-binary

pytest
pytest-django
pytest-cov
black
model-bakery
isort

gunicorn

celery
redis
yfinance
pandas_ta
setuptools
